/* SVG styling */
svg {
	width: 960px;
	height: 800px;
}

path {
	stroke: red;
	stroke-width: 0.1px;
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: -1px;
}
.labels.segment {
	font-size: 22px;
}

#chart3 .labels {
	fill: #555;
}